[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python main.py"
controller = "python controller_test.py"
applescript = "python applescript_test.py"

[packages]
pygame = "*"
applescript = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.7"
